---
pageable: true
per_page: 5
layout: layouts/blog
---
<h2>Articles tagged '<%= tagname %>'</h2>
  <% page_articles.each_with_index do |article, i| %>
    <article class="blog-post" >
<%= partial("layouts/blogpost", :locals => {:article => article}) %>
    </article>
  <% end %>
<%= partial("layouts/pagination", :locals => { 
  :paginate => paginate,
  :num_pages => num_pages,
  :page_number => page_number,
  :prev_page => prev_page,
  :next_page => next_page
}) %>
