---
title: amasok's portfolio
description: amasokのポートフォリオサイト
keywords: amasok, test
---
  <h1>amasok's portfolio</h1>
  <table>
    <tbody>
      <tr>
        <td><div class="mark_box box"><%= link_to "profile", "." %></div> </td>
        <td><div class="mark_box box"><%= link_to "twitter", "https://twitter.com/amasok23" %></div></td>
      </tr>
      <tr>
        <td><div class="mark_box box"><%= link_to "blog", "./blog" %></div></td>
        <td><div class="mark_box box"><%= link_to "github", "https://github.com/amasok" %></div></td>
      </tr>
    </tbody>
  </table>
  <div class="profile">
    <div class="test"></div>
  </div>
