---
title: amasok's profile
description: amasokのプロフィール
keywords: amasok, test
---
  <h1>amasok's profile:</h1>
  <table>
    <tbody>
      <tr>
        <td><div class="mark_box box"><%= link_to "profile", "." %></div> </td>
        <td><div class="mark_box box"><%= link_to "twitter", "https://twitter.com/amasok23" %></div></td>
      </tr>
      <tr>
        <td><div class="mark_box box"><%= link_to "blog", "." %></div></td>
        <td><div class="mark_box box"><%= link_to "github", "https://github.com/amasok" %></div></td>
      </tr>
    </tbody>
  </table>
  
  
  
  

